/* Variables */


/* Header */

.home {
    
    display: flex;

    .card-img-overlay {
        justify-content: center;
        align-items: center;
    }

    .row {
        display: flex;
        justify-content: space-between;

        ul {
            justify-content: flex-end;
        }

        a {
            color: #ffffff;
            font-weight: bold;
            font-size: 13px;
        }
    }

    .btn {
        margin: 30px;
    }

    .home-title {
        font-style: italic;
        padding-top: 250px;
    }

    .home-subtitle {
        font-size: 50px;
        
    }
}

/* Services */

.services {

    i {
        font-size: 30px;
        background:white;
        border-style: solid;
        border-color:#e1b12c;
        width: 55px;
        height: 55px;
        line-height: 55px;
        color: #e1b12c;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        margin: 0 auto;

    }

    .card {
        border: none;
        text-align: center;
        justify-content: center;
    }

    .card-title {
        font-weight: bold;
        margin: 20px 0;
    }
    
    .card-subtitle {
        font-size: small;
    }
    .title-services {
        font-weight: bold;
    
    }
}

/* Portfolio */

.portfolio {
     background-color: #f1f2f6;

    .card-portfolio{
        text-align: center;
        justify-content: center;
        padding: 50px 0;
    }

    .card {
        display: flex;
        text-align: center;
        justify-content: center;
        background-color: #f1f2f6;
        border: none;
        max-width: 300px;

        .card-body{
            background-color: #ffffff;
            padding: 10px;
        }
        .card-text {
            font-style: italic;
            font-size: small;
        }
        .card-title {
            font-weight: bold;
        }
        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
        }
    }
    .title-portfolio {
        font-weight: bold;
    }

    .row {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

/* Footer */

footer {

    li {
        display: inline-block;

        .fa-twitter {
            background-color: black;
            padding: 15px;
            &:hover {
                background-color: #48dbfb;
                transition: all 0.7s;
            }
        }

        .fa-facebook {
            background-color: black;
            padding: 15px;
            &:hover {
                background-color: #2e86de;
                transition: all 0.7s;
            }
        }

        .fa-pinterest{
            background-color:black;
            padding: 15px;
            &:hover {
                background-color: #ee5253;
                transition: all 0.7s;
            }
        }

        .fa-google{
            background-color: black;
            padding: 15px;
            &:hover {
                background-color:  #d35400;
                transition: all 0.7s;
            }
        }

    } 

    ul {
        display: flex;

        i {
            font-size: 30px;
			text-align: center;
			background: red;
			width: 60px;
			height: 60px;
			line-height: 60px;
			color: white;
			border-radius: 50%;
            margin-right: 10px;
        }
    }  

    .card {
        justify-content: center;
        border: none;
    }      
}

/* Media queries */

@media (max-width: 576px) {

    .home{

        .row{

            ul{  
                
                flex-direction: column;
                text-align: right;
                a {
                    font-size: 7px;
                    
                
                }
            }
        }
    }

}

