






portfolio {
    background-color: aquamarine;
}

/* Services */

.services {
    i {
        font-size: 30px;
        background:white;
        border-style: solid;
        border-color:#e1b12c;
        width: 55px;
        height: 55px;
        line-height: 55px;
        color: #e1b12c;
        border-radius: 50%;
        display: flex;
        justify-content: center;

    }

    .card {
        border: none;
        text-align: center;
        justify-content: center;
    }

    .card-title {
        font-weight: bold;
        margin: 20px 0;
    }
    
    .card-subtitle {
        font-size: small;
    }
    .title-services {
        font-weight: bold;
    
    }
}